p {
    background-color: white;
    display: inline-flex;
    height: 70px;   
    width: 200px;
}

#display_sec {
    border: 10px solid black;
    font-size: 100px;
    padding: 50px 50px 50px 50px;
    margin-top: 50px;
    display: flex;
    height: 100px;
    width: 100px;
    background-color: cornsilk;

}